<a href="https://colab.research.google.com/github/jwlee2542/ai-machine/blob/main/week2.ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
import pandas as pd
import numpy as np

In [30]:
team_3 = pd.DataFrame(
    {
        'Name':  ['이지원', '정승욱', '안형주'],
        'year_univ': ['4th', '4th', '4th'],
       'age': ['24', '24','25'],
        'hobby': ['swimming', 'travel', 'hiking']
    })

team_3

  Name year_univ age     hobby
0  이지원       4th  24  swimming
1  정승욱       4th  24    travel
2  안형주       4th  25    hiking

In [31]:
team_3.index = team_3.Name
team_3.drop(['Name'], axis=1, inplace=True )
team_3

     year_univ age     hobby
Name
이지원        4th  24  swimming
정승욱        4th  24    travel
안형주        4th  25    hiking

In [32]:
pwd

'/content'

In [33]:
path = '/content/drive/MyDrive/Colab Notebooks/'

In [34]:
team_3.to_csv(path + 'team_3.csv')

In [35]:
team_3.count()

year_univ    3
age          3
hobby        3
dtype: int64

In [36]:
team_3.sum()

year_univ               4th4th4th
age                        242425
hobby        swimmingtravelhiking
dtype: object

In [38]:
team_3.max()

year_univ       4th
age              25
hobby        travel
dtype: object